body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF9E3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header {
  background-color: #31986B;
}
.search {
  background-color: #9D6739;
}
.footer-dark {
  position:absolute;
  bottom: 0;
  background-color: #31986B;
  display:block;
}
.customNavbar{
  background-color: #59BBAC;
}

.customCard {
  background-color: #FFF9E3;
  color: #816E51;
  border: solid #59BBAC;
}

.customRow{
  margin-top: 3em;
  margin-bottom: 3em;
}


