
body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF9E3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header {
  background-color: #31986B;
}
.search {
  background-color: #9D6739;
}
.customNavbar{
  background-color: #59BBAC;
}

.customCard {
  background-color: #FFF9E3;
  color: #816E51;
  border: solid #59BBAC;
  margin: 1rem;
}

.listeMeubles {
  list-style-type: none;
	padding: 10rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.customRow, .customCard{
  margin-top: 3em;
  margin-bottom: 3em;
}
.flex-column{
  margin-top : 100px;
}
.research{
  position: absolute;
  margin-left: 30%;
}
.color-button-filter {
  background-color: #59BBAC;
  border: #59BBAC;
}

/* Footer */
.footer-dark {
  position:absolute;
  background-color: #59BBAC;
  display:block;
  font-size: .8em;
}
.container {
  margin-top: 2em;
}
.col > h3 {
  font-size: 1.7em;
  font-weight: bold;
}

